[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/gbench"]
	path = external/gbench
	url = https://github.com/google/benchmark
[submodule "src/scs/LTS"]
	path = src/scs/LTS
	url = https://github.com/nightly/lts
[submodule "external/matchit"]
	path = external/matchit
	url = https://github.com/BowenFu/matchit.cpp
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost
[submodule "external/boost/core"]
	path = external/boost/core
	url = https://github.com/boostorg/core
[submodule "external/boost/container_hash"]
	path = external/boost/container_hash
	url = https://github.com/boostorg/container_hash
[submodule "external/boost/smart_ptr"]
	path = external/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "external/boost/type_index"]
	path = external/boost/type_index
	url = https://github.com/boostorg/type_index
[submodule "external/boost/io"]
	path = external/boost/io
	url = https://github.com/boostorg/io
[submodule "external/boost/utility"]
	path = external/boost/utility
	url = https://github.com/boostorg/utility
[submodule "external/boost/predef"]
	path = external/boost/predef
	url = https://github.com/boostorg/predef
[submodule "external/boost/move"]
	path = external/boost/move
	url = https://github.com/boostorg/move
[submodule "external/boost/variant"]
	path = external/boost/variant
	url = https://github.com/boostorg/variant
[submodule "external/boost/assert"]
	path = external/boost/assert
	url = https://github.com/boostorg/assert
[submodule "external/boost/config"]
	path = external/boost/config
	url = https://github.com/boostorg/config
[submodule "external/boost/bind"]
	path = external/boost/bind
	url = https://github.com/boostorg/bind
[submodule "external/boost/type_traits"]
	path = external/boost/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "external/boost/static_assert"]
	path = external/boost/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "external/boost/detail"]
	path = external/boost/detail
	url = https://github.com/boostorg/detail
[submodule "external/boost/preprocessor"]
	path = external/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "external/boost/integer"]
	path = external/boost/integer
	url = https://github.com/boostorg/integer
[submodule "external/boost/throw_exception"]
	path = external/boost/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "external/boost/external/boost/mpl"]
	path = external/boost/external/boost/mpl
	url = https://github.com/boostorg/mpl
[submodule "external/boost/mpl"]
	path = external/boost/mpl
	url = https://github.com/boostorg/mpl
[submodule "external/boost/describe"]
	path = external/boost/describe
	url = https://github.com/boostorg/describe
[submodule "external/boost/mp11"]
	path = external/boost/mp11
	url = https://github.com/boostorg/mp11
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "external/boost/container"]
	path = external/boost/container
	url = https://github.com/boostorg/container
[submodule "external/boost/intrusive"]
	path = external/boost/intrusive
	url = https://github.com/boostorg/intrusive
[submodule "external/boost/winapi"]
	path = external/boost/winapi
	url = https://github.com/boostorg/winapi
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense
